html {
    font-size: 14px;
}


body {
    background-size: cover;
    background-image: url("../images/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(13, 157, 157);

}

h1 {
    font-size: 1rem;
}

p,
h2,
h3 {
    font-size: .9rem;
}



img {
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.wrapper-index {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.wrapper-index>*,
.wrapper>* {
    padding: .5em;
    flex: 1 100%;
}

.header {
    background: rgb(193, 55, 31);
    color: white;
}

.footer {
    background: rgba(38, 242, 38, 0.6);
    color: white;
}

.main {
    text-align: left;
    background: rgba(10, 19, 121, 0.3);
    color: white;
}

.table {
    color: white;
}

.aside-1 {
    background: rgba(51, 170, 51, .1);
    color: white;
}

.aside-2 {
    background: rgba(51, 170, 51, .1);
    color: white;
}

.views-icons {
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: flex-start;
}

.icon {
    width: 1.5em;
    margin: 0 auto;

}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }

    .aside-1 {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-2 {
        order: 3;
    }

    .footer {
        order: 4;
    }
}

body {
    padding: 1em;
}